.EntryMessage {
  height: 80vh;
}
.temp {
  background-color: #1a759f;
  width: 100%;
}
.nav_left_group {
  margin-left: 60%;
}

.individual_icons {
  margin-left: 10px;
  margin-right: 10px;
}

.card_body {
  color: black;
  text-decoration: none;
}

.btn-primary,
.btn-primary:hover {
  background-image: linear-gradient(black, black 6%, black);
  filter: none;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.productScreenButtons {
  width: 400px;
  border-radius: 2em;
  background-color: #4eb5f1;
  color: #ffffff;
}
